{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'blog:home' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Reset Your Password</li>
    </ol>
  </nav>

<div class="items-center">
    
    <form method="post">
        <h4>Reset Your Password</h4>

        <div class="center-div">
            <hr>
        </div>

        {% csrf_token %}
        {{form|crispy}}

        <button class="btn">Reset Password</button>
    </form>
</div>

{% endblock content %}
