{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Password Reset Instructions</title>
{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'blog:home' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Password Reset</li>
    </ol>
</nav>

<div class="items-center">
    
    <form method="post">
        {% csrf_token %}
        <h4>Password Reset</h4>

        <div class="center-div">
            <hr>
        </div>
     
        {{form|crispy}}

        <button class="btn">Request for password Reset Instrunctions</button>
    </form>
</div>

{% endblock content %}
