{% extends 'blogapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Password Reset Complete</title>
{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'blog:home' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Success</li>
    </ol>
</nav>

<div class="items-center">
    
    <form>
        <p style="text-align:center">Your password has been reset successfuly<br> Proceed to <small><a style="color: blue !important;" href="{% url 'accounts:login' %}">login</a></small> </p>
    </form>
</div>

{% endblock content %}
